<div class="sidebar-slider">
  <div class="slider-cont">
    <div class="slider-slide">your content1</div>
    <div class="slider-slide">your content2</div>
    <div class="slider-slide">your content3</div>
  </div>
</div>
