<div class="sidebar-lohn-block">
  <p class="sidebar-lohn-title">{{{lohnTitle}}}</p>
  <p class="sidebar-lohn-description">{{descriptionText}}</p>
  <a href="{{lohnLink}}"
     target="_blank"
     class="sidebar-lohn-link">{{btnText}}</a>
</div>