.mobile-view {
  #navigation-bar .navigation-toggle {
    border: none;
    margin-bottom: 0;
    background-color: #92d6b4;
  }

  #navigation-bar .toggle-link {
    color: #fff;
  }

  #navigation-bar .toggle-link .d-icon-caret-down {
    display: none;
  }

  #navigation-bar.nav-pills > li > a {
    padding: 10px 15px;
  }

  #categories-under-banner {
    display: none;
  }

  .support-wrapper {
    width: auto;
    top: -52px;
  }

  .sidebar-slider {
    padding-top: 10px;
    font-size: 16px;
  }

  .sidebar-slider-container {
    padding: 20px 15px 15px;
    border: 2px solid #1363B4;
    border-radius: 10px;
    height: auto;
  }
  .sidebar-slider-container .slider-slide {
    //min-height: 140px;
    padding: 0;
  }
  .slider-static-title{
    font-size: 22px;
  }

  .news-date {
    font-size: 12px;
  }

  .news-source {
    color: $primary-color;
    font-size: 16px;
    margin-bottom: 6px;
  }

  .news-link {
    font-size: 1.2em;
  }

  .slick-prev,
  .slick-next {
    margin-top: 7px;
  }
}


@media screen and (max-width: 950px) {
  .list-container .topic-list {
    position: relative;
    box-sizing: initial;
    flex-direction: column;
    margin: 0 0 10px;
    padding-left: 0;
  }
  #list-area .mansory {
    border: none;
    max-width: 100% !important;
  }

  .topic-created-at {
    display: none;
    right: 10px;
  }

  .list-container .topic-sidebar {
    width: 100%;
    margin: 0 auto 20px;
  }

  .mobile-view .list-container .topic-sidebar.mob-on-bottom {
    position: absolute;
    bottom: -525px;
    min-height: 400px;
  }

  .list-container .topic-sidebar-scrollable {
    position: static;
    width: 100%;
  }

  .support-wrapper {
    width: auto;
  }

  .button-show-support {
    display: block;
    text-align: left;
  }
  .categories-wrapper {
    position: relative;
    bottom: 15px;
    text-align: center;
  }
  .category-list.with-topics .category-list-item .category-description {
    display: block;
  }
  .categories-wrapper .btn {
     color: white;
     border-radius: 20px;
     padding: 6px 15px;
     transition: all .4s;
     width: 49%;
     margin: 10px 0 10px 0 !important;
   }
  #categories-under-banner {
    display: none;
    width: 100%;
    bottom: 35px;
  }
  .support-btn {
    display: block;
    transition: all 0.2s ease-in;
    background: #1363B4;
    color: #ffffff !important;
    border-radius: 20px;
    border: 2px solid #1363B4;
    padding: 8px 15px;
    font-size: 14px;
    margin: 10px 0 10px 0;
    width: 40%;
    text-align: center;
  }
  .mobile-view .support-wrapper {
    width: 100%;
    text-align: center;
  }
  .slider-static-title {
    color: #013367;
    margin: 0 auto 5px;
    line-height: 20px;
    font-size: 22px !important;
  }
  .sidebar-lohn-link {
    display: inline-block;
    transition: all 0.2s ease-in;
    background: #1363B4;
    color: #fff !important;
    border-radius: 20px;
    border: 2px solid #1363B4;
    padding: 8px 15px;
    font-size: 14px;
    margin: 10px 0 10px 0 !important;
    width: 40% !important;
    text-align: center !important;
  }
  .banner-block {
    background: url(/uploads/default/original/1X/bb8b3a9….jpg);
    text-align: center;
    padding: 60px 0 !important;
    width: 100%;
    margin: 0 auto 50px auto;
    background-size: 127% !important;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .topic-meta-data {
    margin-left: 10px !important;;
    margin-top: 10px !important;;
    margin-bottom: 20px !important;;
    margin-right: 10px !important;;
  }
  .boxed .contents {
    padding: 10px 0 0 0;
    margin: 0 10px !important;
  }
  .container.list-container {
    margin-top: -70px !important;
  }
  ol.category-breadcrumb {
    margin: 0 -3px 5px -3px;
    display: flex;
    flex-wrap: unset;
    flex: none;
  }
  .notifications-button, .edit-category {
    height: 40.188px !important;
  }
  .btn-support-filter{
    margin-bottom: 80px;
  }
  .container.list-container {
    margin-top: 10px !important;
  }
  .navigation-topics .banner-block, .navigation-categories .banner-block, div#ember11 {
    margin-bottom: -60px;
  }
  ol.category-breadcrumb {
    margin: 0 -3px 5px 0;
  }

}
@media screen and (max-width: 950px) {
  .banner-block {
    height: 10rem;
  }
}
@media screen and (max-width: 835px) {
  .banner-block {
    height: 8rem;
  }
}
@media screen and (max-width: 730px) {
  .banner-block {
    height: 6rem;
  }
}
@media screen and (max-width: 650px) {
  .banner-block {
    height: 4rem;
  }
}
@media screen and (max-width: 564px) {
  .banner-block {
    height: 3rem;
  }
}

@media screen and (max-width: 474px) {
  .banner-block {
    height: 2rem;
  }
}
@media screen and (max-width: 469px) {
  .banner-block {
    height: 1rem;
  }
}
@media screen and (max-width: 460px) {
  .banner-block {
    height: 0;
  }
}



