$primary-color: #ff6f00;
$secondary-color: #3599ff;
$dark-blue: #013367;
$gray: #454F5B;
$light-blue: #C9E2FB;

header.d-header .header-buttons>button:hover{
  background-color: #1363B4 !important;
}
.discourse-no-touch .btn:hover .d-icon, .discourse-no-touch .btn.btn-hover .d-icon {
  color: #fff !important;
}

.topic-sidebar {
  position: relative;
  display: none;
  flex-shrink: 0;
  width: 310px;
  height: auto;
  margin-left: 25px;
  margin-top: 0;
}

.list-container .topic-sidebar {
  display: block;
}

.topic-sidebar-scrollable {
  position: absolute;
  top: 0;
  width: 310px;
}

/*.scroll-blocked {
  position: fixed;
}*/

.sidebar-lohn-block {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 25px;
  text-align: left;
  border-radius: 4px;
  color: #637381;
  background: #fff0e7;
}

.sidebar-lohn-block-mobile {
  display: none;
}

.sidebar-lohn-title {
  color: $dark-blue;
  margin: 0 auto 5px;
  line-height: 20px;
  font-size: 20px;
}

.sidebar-lohn-description {
  margin: 15px auto;
}

.sidebar-lohn-link {
  display: inline-block;
  transition: all 0.2s ease-in;
  background: #1363B4;
  color: #ffffff!important;
  border-radius: 20px;
  border: 2px solid #1363B4;
  padding: 8px 15px;
  font-size: 14px;
  margin-bottom: 20px;
}

.sidebar-lohn-link:hover {
  transition: all 0.2s ease-in;
  color: #1363B4!important;
  background-color: #ffffff;
}

.sidebar-lohn-link:visited {
  color: #1363B4;
}

.list-container {
  position: relative;
}

.support-wrapper {
  display: none;
}

.navigation-topics .support-wrapper {
  //position: absolute;
  //right: 0;
  //top: -49px;
  //width: 310px;
}

.support-btn {
  display: inline-block;
  transition: all 0.2s ease-in;
  background: #FFFFFF;
  color: #454F5B !important;
  border-radius: 20px;
  border: 1px solid $light-blue;
  padding: 8px 15px;
  font-size: 14px;
  margin: 10px 30% 10px 0;
}

.support-btn:hover {
  transition: all 0.2s ease-in;
  background-color: #fff;
  color: $light-blue;
  border-radius: 10px;
}

.sidebar-slider-container {
  padding: 20px 15px 15px;
  border: 2px solid #1363B4;
  border-radius: 10px;
}

.sidebar-slider {
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  //margin-bottom: 20px;
  padding: 7px 7px;
  text-align: left;
  border-radius: 4px;
  color: #637381;
  background: #ffffff;
}

.slider-static-title {
  color: $dark-blue;
  margin: 0 auto 5px;
  line-height: 20px;
  font-size: 20px;
}

.sidebar-slider-container .slider-slide {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  //min-height: 190px;
}

.sidebar-slider-container  .slider-slide:active,:focus {
  outline:none;
}

.sidebar-calculator-bg {
  position: absolute;
  top: -20px;
  right: -70px;
  z-index: -1;
}

.news-date {
  width: 100%;
  margin: 0;
  font-size: 14px;
  display:none;
}

.news-content {
  width: 100%;
  margin: 10px;
  padding-bottom: 22px;
}

.news-source {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 400!important;
  color: $primary-color;
}

.news-link,
.news-link:active,
.news-link:hover,
.news-link:focus {
  margin: auto;
  font-size: 15px;
  color: $gray!important;
  font-weight: 400!important;
}

// slick-slider customization

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 90%;
  z-index: 1;
  display: block;
  width: 0;
  height: 0px;
  padding: 0;
  margin-top: 0;
  opacity: 1;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  outline: none;
  background: transparent;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 6px solid transparent;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover, .slick-next:focus {
  opacity: 1;
  outline: none;
}

.slick-prev {
  left: 5px;
  border-right: 6px solid #1363B4;
}

.slick-next {
  right: 5px;
  border-left:6px solid #1363B4;
}

.slick-dots {
  display:none;
  position: absolute;
  bottom: -15%;
  display: block;
  width: calc(100% - 32px);
  margin: 0 16px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 28px;
  line-height: 5px;
  display: block;
  width: 8px;
  height: 8px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  content: '';
  position: absolute;
  background-color: $gray;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  opacity: .75;
  border-radius: 20px;
}

.slick-dots li button:hover:before {
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: $gray;
}

.logo-mobile {
  display: none;
}

.topic-custom-like {
  color: #013367;
  margin-left: 10px!important;
}

.medicus {
  margin: 25px 0;
}

@media screen and (max-width: 950px) {
  .desktop-view .navigation-topics .support-wrapper {
    position: static;
    width: 100%;
    //margin-bottom: 20px;
  }

  .desktop-view .topic-list-item .arrow {
    display: none;
  }
}
.navigation-container{
  height: 40px !important;
}

.btn, .list-controls .combo-box .combo-box-header {
  background: #ff6f00;
  display: inline-flex;
  transition: all 0.2s ease-in;
  color: #fff !important;
  border-radius: 20px;
  padding: 8px 15px;
  line-height: var(--line-height-large);
  min-height: unset;
  min-width: unset;
}
.select-kit .select-kit-header .select-kit-header-wrapper{
  width: unset !important;
}
.category-name {
  font-size: 14px !important;
}
svg.fa.d-icon.d-icon-wrench.svg-icon.svg-string {
  font-size: 14px;
}
#list-area table.topic-list .link-top-line{
  margin-top: 20px !important;
}
.sidebar-slider {
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 7px 0 !important;
  text-align: left;
  border-radius: 4px;
  color: #637381;
  background: #ffffff;
}
.news-content {
  width: 97%;
  margin: 10px 0 !important;
  padding-bottom: 22px;
}
.select-kit.single-select.dropdown-select-box .select-kit-header{
  justify-content: center;
}
summary#ember202-header {
  display: none;
}

div#ember123 .category-name {
  color: white !important;
}
.categories-wrapper .btn{
  padding: 8px 15px !important;
}
.search-container .search-advanced .search-info button{
  display:none;
}
//.select-kit-header-wrapper span.badge-category.clear-badge {
  //color: white !important;
//}
summary#ember31-header {
  display: none;
}
.last-3-posts {
  margin: 20px 0px -18px 0px;
}
.inline-form {
  display: none;
}
details#ember139 {
  display: none !important;
}
.tag_all {
  display: none !important;
}
.navigation-topics .banner-block, .navigation-categories .banner-block {
  display: block !important;
}
.link-share-actions .sources {
  display: none !important;
}
.link-share-container #ember91 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
button.widget-button.btn-flat.reply.create.fade-out.btn-icon-text{
  display: none !important;
}
.badge-wrapper .badge-category .d-icon {
  margin: 0 0 0 5px !important;
}
.d-modal.create-account .login-welcome-header, .d-modal.login-modal .login-welcome-header, .invites-show .login-welcome-header {
  background: transparent !important;
}
.d-modal.create-account .has-alt-auth .login-form, .d-modal.create-account .login-form {
  background: transparent !important;
}
.d-modal.create-account .modal-footer{
  background: transparent !important;
}
.d-modal.create-account .modal-footer:before{
  background-image: none !important;
}
.d-modal.create-account .has-alt-auth .login-form .input-group, .d-modal.create-account .login-form .input-group {
  padding: 0;
}
.d-modal.create-account .login-welcome-header {
  grid-area: header;
  padding: 3em 0 1em;
}
.input-group.create-account-email {
  margin-top: 2rem;
}
.d-modal.create-account .login-welcome-header .login-title{
  width: fit-content !important;
}
img.waving-hand {
  margin-left: 0 !important;
}
.static-login #login-link {
  background: #ff6f00 !important;
}
.static-login #login-link:hover {
  border: 1px solid #ff6f00;
  color: #ff6f00 !important;
  background: #fff !important;
}
.menu-panel .panel-body-bottom .btn {
  background-color: #ff6f00;
}
.user-menu .quick-access-panel .d-icon, .user-menu .quick-access-panel:hover .d-icon {
  color: #fff;
}
.menu-panel .widget-link:hover, .menu-panel .widget-link:focus, .menu-panel .categories-link:hover, .menu-panel .categories-link:focus{
  background: #1363B4;
  color: #fff !important;
}
.menu-panel .panel-body-bottom .btn:hover {
  background: #1363B4 !important;
  color: #fff !important;
}
.user-menu .quick-access-panel li:hover{
  background-color: #ff6f00 !important;
}
#reply-control .reply-to .composer-controls .d-icon{
  color: #fff;
}
span.extra-buttons .fab-facebook, span.extra-buttons .fab-twitter {
  display: none !important;
}
h1.login-title {
  color: #ff6f00 !important;
}
.create-account-form {
  color: #FFF !important;
}
a.widget-link.admin-link .d-label {
  color: #ff6f00 !important;
}