.mobile-view {
  #navigation-bar .navigation-toggle {
    border: none;
    margin-bottom: 0;
    background-color: #92d6b4;
  }

  #navigation-bar .toggle-link {
    color: #fff;
  }

  #navigation-bar .toggle-link .d-icon-caret-down {
    display: none;
  }

  #navigation-bar.nav-pills > li > a {
    padding: 10px 15px;
  }

  .support-wrapper {
    width: auto;
    top: -52px;
  }

  .sidebar-slider {
    padding-top: 10px;
    font-size: 16px;
  }

  .sidebar-slider .slider-slide {
    min-height: 140px;
    padding: 0 30px 30px;
  }

  .news-date {
    font-size: 12px;
  }

  .news-source {
    color: $primary-color;
    font-size: 12px;
    margin-bottom: 6px;
  }

  .news-link {
    font-size: 16px;
  }

  .slick-prev,
  .slick-next {
    margin-top: 7px;
  }
}

@media screen and (max-width: 950px) {
  .list-container .topic-list {
    position: relative;
    box-sizing: initial;
    flex-direction: column;
    margin: 0 0 10px;
    padding-left: 0;
  }

  #list-area .mansory {
    border: none;
  }

  .topic-created-at {
    display: none;
  }

  .list-container .topic-sidebar {
    width: 100%;
    margin: 0 auto 20px;
  }

  .mobile-view .list-container .topic-sidebar.mob-on-bottom {
    position: absolute;
    bottom: -525px;
    min-height: 400px;
  }

  .list-container .topic-sidebar-scrollable {
    position: static;
    width: 100%;
  }

  .support-wrapper {
    width: auto;
  }

  .button-show-support {
    display: block;
    text-align: left;
  }

  .category-list.with-topics .category-list-item .category-description {
    display: block;
  }
}
