<div class="sidebar-lohn-block">
<p class="sidebar-lohn-title"><b>Quick Links<b></p>
<div class="support-wrapper button-show-support">
  <a class="support-btn" href="https://vsao-lohnrechner.ch?return">Jetzt Lohn berechnen</a><br>
  <a class="support-btn" href="https://medicus.ch/de/jobs/arzt/schweiz">Job finden</a><br>
  <a class="support-btn" href="https://www.doppeldoc.ch/">Jobsharing</a><br>
</div>
</div>
