<div class="sidebar-lohn-block-mobile">
    <p class="sidebar-lohn-title-mobile"><b>Quick Links</b></p>
    <div class="support-wrapper button-show-support">
        <a class="support-btn" href="https://vsao-lohnrechner.ch/lohnrechner">Jetzt Lohn berechnen</a>
        <a class="support-btn" href="https://medicus.ch/de/jobs/arzt/schweiz">Job finden</a>
        <a class="support-btn" href="https://www.doppeldoc.ch/">Jobsharing</a>
    </div>
</div>
