<div class="sidebar-lohn-block">
<p class="sidebar-lohn-title">Qick Links</p>
<div class="support-wrapper button-show-support">
  <a class="support-btn" href="mailto:info@doc-doc.ch">Jetzt Lohn berechnen</a>
</div>

<div class="support-wrapper button-show-support">
  <a class="support-btn" href="https://medicus.ch/de/jobs/arzt/schweiz">Job finden</a>
</div>

<div class="support-wrapper button-show-support">
  <a class="support-btn" href="https://www.doppeldoc.ch/">Jobsharing</a>
</div>
</div>
